<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]='signUpForm' (ngSubmit)='gg()'>
        <div formGroupName='userdata'>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" formControlName='username' class="form-control">


              <span class='help-block' *ngIf="!signUpForm.get('userdata.username').valid && signUpForm.get('userdata.username').touched">
                <span *ngIf="signUpForm.get('userdata.username').errors['name']">
                  please enter valid username
                </span>
                <span *ngIf="signUpForm.get('userdata.username').errors['required']">
                  field is require
                </span>

              </span>

          </div>


        <div class="form-group">
          <label for="email">email</label>
          <input type="text" id="email" formControlName='email' class="form-control">
        </div>
      </div>
        <div formArrayName='hobbies'>
          <h4>Add Your Hobbies</h4>
          <button class="btn btn-primary" type='button' (click)='onAddHobbies()'>Add Hobies</button>


          <div class="form-group" *ngFor="let hobbie of signUpForm.get('hobbies').controls;let i=index">

            <input type="text" class="form-control" [formControlName]='i'>
          </div>
        </div>


        <div class="radio" *ngFor="let gend of genders">
          <label>
            <input type="radio" formControlName="gender" [value]="gend">{{ gend}}
          </label>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
